@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    /* Primary */
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --darkGreen: hsl(154, 59%, 44%);

    /* Accent */
    --blue: hsl(248, 32%, 49%);

    /* Neutral */
    --darkBlue: hsla(249, 10%, 26%, 0.2);
    --grayishBlue: hsl(246, 25%, 77%);

    --white: hsl(180, 1%, 100%);
    --gray: hsl(0, 0%, 87%);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16;
    font-weight: 500;
    background-color: var(--red);
    background-image: url(../images/bg-intro-desktop.png);
    color: var(--white);
}

.center {
    width: 1190px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.block_form {
    width: 1110px;
    min-height: 560px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 40px;
}

/* left content */
.block_text {
    margin: auto 30px auto 0;
}

.text_title {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 25px;
}

.text_paragraph {
    font-weight: 400;
    font-size: 1rem;
}

/* right content */
.form_content {
    margin-left: 10px;
}

.form_message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: var(--blue);
    border-radius: 10px;
    box-shadow: var(--darkBlue) 0 8px;
}

.message_title {
    font-size: 0.9rem;
    font-weight: 600;
    padding: 1rem;
    text-align: center;
}

.form {
    margin-top: 25px;
    width: 100%;
    min-height: auto;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: var(--darkBlue) 0 8px;
    padding: 40px;
    margin-bottom: 50px;
}

.form_item {
    margin-bottom: 20px;
}

.form_input {
    display: block;
    height: 55px;
    width: 100%;
    border-radius: 6px;
    padding-left: 2rem;
    padding-right: 2rem;

    font-size: 1rem;
    font-family: inherit;
    font-weight: 600;

    border: 1px solid var(--gray);
    outline: none;
}

.form_input:focus {
    border: 1px solid var(--blue);
}

.form_input--invalid {
    background: url(../images/icon-error.svg) no-repeat calc(100% - 1rem);
    border: 3px solid var(--red);
}

.form_input--invalid + .error_message {
    display: block;
}

.error_message {
    font-style: italic;
    font-size: 0.8rem;
    text-align: right;
    margin-top: 5px;
    display: none;
}

.submit_btn {
    height: 55px;
    width: 100%;
    border-radius: 6px;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 600;
    color: inherit;
    outline: none;
    border: none;
    background-color: var(--green);
    box-shadow: var(--darkGreen) 0 3px;
}

.form_text {
    margin-top: 20px;
    color: var(--gray);
    font-size: 0.8rem;
    text-align: center;
    font-weight: 600;
}

/* text */
.text--grayishBlue {
    font-weight: 400;
    color: var(--grayishBlue);
}

.text--red {
    color: var(--red);
}

/* media */
@media (max-width: 1024px) {
    body {
        background-image: url(../images/bg-intro-mobile.png);
    }

    .center {
        max-width: 615px;
    }

    .block_form {
        max-width: 575px;
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
    }

    .block_text {
        text-align: center;
        margin: 0;
    }

    .text_title {
        font-size: 2rem;
    }

    .text_paragraph {
        margin-bottom: 50px;
    }

    .form_content {
        margin: 0 auto;
    }
}

@media (max-width: 624px) {
    .center {
        max-width: 515px;
    }

    .block_form {
        max-width: 475px;
    }
}

@media (max-width: 575px) {
    .center {
        max-width: 415px;
    }

    .block_form {
        max-width: 375px;
    }

    .text_paragraph {
        margin-bottom: 30px;
    }
}

@media (max-width: 415px) {
    .center {
        max-width: 320px;
    }

    .block_form {
        max-width: 300px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
